html, body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --text-color: #FF6565;
    --link-hover-color: #FF6565;
    --button-hover-opacity: 0.9;
    --max-content-width: 1000px;
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
}

/* Header (Navbar) */
header {
    padding: 20px 10px 20px 10px;
}

nav {
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 25px; 
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

a:hover, a:active {
    color: var(--link-hover-color);
}

/* Hero Section */
body {
    background-size: cover;
    background-repeat: repeat-x;
    background-image: url('images/headphones_hero_1.jpg');
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: "Your Desired Font", sans-serif; 
}

.hero {
    padding: 50px 20px;
}

h1 {
    font-size: 2em;
    padding-top: 15%;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

button {
    background-color: var(--link-hover-color);
    color: white;
    padding: 15px 40px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

button:hover, button:active {
    background-color: var(--link-hover-color); 
    opacity: var(--button-hover-opacity);
}

/* New Paragraph Styles */
.long-paragraph {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 800px; 
    margin: 30px auto; 
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }

    .logo {
        text-align: center; 
    }

    .logo img {
        max-height: 30px; 
    }

    .menu-icon:hover + .menu-items,
.menu-items:hover {
    display: flex; 
}

    
    .menu-items {
        display: none; 
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .menu-items ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .menu-items li {
        margin: 10px;
    }
    
    .menu-icon {
        display: block; 
        cursor: pointer;
        font-size: 16px; 
        color: rgb(19, 13, 13);
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.what-we-do {
    max-width: 600px; 
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

.one-icon {
    text-align: center;
    width: 200px; 
    margin: 10px; 
}

.one-icon img {
    max-width: 100%; 
}

/* Optional: Add responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .icons {
        flex-direction: column; 
        align-items: center; 
    }
}



/* Section-2 Styles */
.section-2 {
    background-color: #F0F0F0; 
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.what-we-do {
    max-width: 1000px; 
    margin-bottom: 30px; 
}

.what-we-do h1 {
    color: #071629;
    font-size: 32px; 
    margin-bottom: 50px; 
}

.what-we-do p {
    color: #071629;
    font-size: 16px;
    line-height: 1.6;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    
}

.icons .one-icon h1 {
    color: #071629;
    font-size: 18px;
}

.icons .one-icon  p {
    color: #071629;
    font-size: 14px;
}
.one-icon {
    text-align: center;
    width: 200px;
    margin: 60px;
}

.one-icon img {
    max-width: 100%; 
    margin-bottom: 10px; 
}

/* Optional: Add responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .icons {
        flex-direction: column; 
        align-items: center; 
    }
}
